- var bstrap_ver = '3.3.5';
//  JavaScript  
//- script(type='text/javascript', async, src='https://maxcdn.bootstrapcdn.com/bootstrap/#{bstrap_ver}/js/bootstrap.min.js')
script(type="application/javascript")
    | requirejs(["https://maxcdn.bootstrapcdn.com/bootstrap/#{bstrap_ver}/js/bootstrap.min.js"]);
//  CSS  
link(rel='stylesheet', defer, type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/#{bstrap_ver}/css/bootstrap.min.css')
//   Theme   
//- //    Standard    
//- link(rel='stylesheet', async, type="text/css", href='https://maxcdn.bootstrapcdn.com/bootstrap/#{bstrap_ver}/css/bootstrap-theme.min.css')
//- //    Cerulean    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/cerulean/bootstrap.min.css')
//- //    Cosmo    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/cosmo/bootstrap.min.css')
//- //    Cyborg    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/cyborg/bootstrap.min.css')
//- //    Darkly    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/darkly/bootstrap.min.css')
//- //    Flatly    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/flatly/bootstrap.min.css')
//- //    Journal    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/journal/bootstrap.min.css')
//- //    Lumen    
//- link(rel='stylesheet', defer, type="text/css", href='https://bootswatch.com/lumen/bootstrap.min.css')
//- //    Paper    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/paper/bootstrap.min.css')
//- //    Readable    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/readable/bootstrap.min.css')
//- //    Sandstone    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/standstone/bootstrap.min.css')
//- //    Simplex    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/simplex/bootstrap.min.css')
//    Slate    
link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/slate/bootstrap.min.css')
//- //    Spacelab    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/spacelab/bootstrap.min.css')
//- //    Superhero    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/superhero/bootstrap.min.css')
//- //    United    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/united/bootstrap.min.css')
//- //    Yeti    
//- link(rel='stylesheet', async, type="text/css", href='https://bootswatch.com/yeti/bootstrap.min.css')