nav(role="navigation").navbar.navbar-default.navbar-fixed-top
    .navbar-header
        button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a(href="#",title="Monstro Gaming").navbar-brand Monstro Gaming
    .collapse.navbar-collapse
        ul.nav.navbar-nav
            li.active
                a(href="http://tenk77.github.io/") Home