nav(role="navigation").navbar.navbar-default.navbar-fixed-top
    .navbar-header
        button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
            //- span.icon-bar
                img(alt="Brand", src="logos/logo.png")
        a(href="#",title="Monstro Gaming").navbar-brand Monstro Gaming
    .collapse.navbar-collapse
        ul.nav.navbar-nav
            - var weblinks = [["http://tenk77.github.io/","Home"]]
            - for (var i in weblinks)
                li
                    a(href=weblinks[i][0]) #{weblinks[i][1]}