nav(role="navigation").navbar.navbar-default.navbar-fixed-top
    .navbar-header
        button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        span.navbar-brand
            - var style = {"background-image": "url('http://tenk77.github.io/logos/Name-Logo.png')", "height": "25px", "width": "296px", "margin-right": "-0.275in"}
            div(style=style)
    a(class="navbar-brand", href="#")
        span.logo
    .collapse.navbar-collapse
        ul.nav.navbar-nav
            - var weblinks = [["http://tenk77.github.io/","Home"]]
            - for (var i in weblinks)
                li
                    a(href=weblinks[i][0]) #{weblinks[i][1]}