// Gallery Modules
script(type='application/javascript')
    include index.min.js
style(type='text/css')
    include index.min.css
// Gallery 
.sg
    - var imgs = [["../logos/logo.png","Our Logo","Our Logo"],["./images/Clan.jpg","Our Clan Image","Our Clan Image/Logo"],["./images/thomas Is Black.png","Thomas is Black","Thomas is Black"],["./images/Boom.png","Boom","Boom"]];
    - for(var i=0;i<imgs.length;i++)
        .sg-item
            a(href=imgs[i][0], title=imgs[i][1])
                img(src=imgs[i][0])
            br
            | #{imgs[i][2]}
.sg-paginate
    a.sg-up(href='#', style={"font-size": "150%;","padding":"0% 0 2.2%;"}) ▲
    a.sg-down(href='#', style={"font-size": "150%;","padding":"0% 0 2.2%;"}) ▼
//- // Gallery Initiator
//- script(type='application/javascript').
    $(document).ready(function() {
      $(document).smoothGallery({
          animSpeed: 300,
          delaySpeed: 50,
          visibleRows: 1,
          animEasing: 'easeOutQuart'
      });
    });