doctype HTML
html
  head
      //- /Versions
      - var strapdown_ver = "0.2";
      - var fontawesome_ver = "4.4.0";
      - var requirejs_ver = "2.1.20";
      //- \Versions
      //- Directory
      //=/Scripts|Modules|Styles|Fonts
      // /Default
      include ./modules-dir2.jade
      // \Default
      
      // /favicon.ico
      link(rel="SHORTCUT ICON", href="http://tenk77.github.io/logos/favicon.ico")
      // \favicon.ico

      // /Other
      block other
      // \Other
      
      //=\Scripts|Modules|Styles|Fonts

      //- For editting by user
      block head
  body
      // /Navbar 
      include ./bootstrap/navbar.jade
      // \Navbar 

      // /Body-Content
      block body
      // \Body-Content

      // /Footer 
      include ./bootstrap/footer.jade
      // \Footer 

      // /Bootstrap-Modules 
      include ./bootstrap/modules.jade
      // \Bootstrap-Modules

      ///js/index.js
      //- script(type="application/javascript", src="http://tenk77.github.io/js/index.min.js")
      script(type="application/javascript")
            include ../js/index.min.js
      //\js/index.js