///Modules
// Coffeescript 
script(type="application/javascript", src="http://coffeescript.org/extras/coffee-script.js")
// Jquery 
script(type="application/javascript", src="http://code.jquery.com/jquery.min.js")
// Require.JS 
script(type="application/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/require.js/#{requirejs_ver}/require.min.js")
//- // Strapdown.js 
//- //script(type="application/javascript", async, src="http://strapdownjs.com/v/#{strapdown_ver}/strapdown.js")
// jQuery Column Formatter (Nicholas J. Phillips's Plugin) 
script(type="application/javascript", src="http://tenk7.github.io/js/jquery-col_format/index.min.js")
// jQuery Youtube Player | http://tikku.com/jquery-youtube-tubeplayer-plugin 
script(type="application/javascript", src="http://tikku.com/scripts/ui/tubeplayer/jQuery.tubeplayer.min.js")

// Typed.js | http://www.mattboldt.com/demos/typed-js/ 
script(type="application/javascript", src="http://www.mattboldt.com/demos/typed-js/js/typed.js")
// Typist | http://albburtsev.github.io/jquery.typist/ 
script(type="application/javascript", src="http://tenk7.github.io/js/jquery-typist/jquery.typist.js")
// Terminal Like Typing Effect | www.jqueryscript.net/text/Terminal-like-Text-Typing-Effect-with-jQuery-Teletype.html 
script(type="application/javascript", src="http://www.jqueryscript.net/demo/Terminal-like-Text-Typing-Effect-with-jQuery-Teletype/jquery.teletype.js")
// Smoke
script(type="application/javascript", src="http://alfredobarron.github.io/smoke/dist/js/smoke.min.js")
// AmaranJS | http://ersu.me/amaranjs-en 
link(rel="stylesheet", type="text/css", href="http://cdn.jsdelivr.net/jquery.amaran/0.5.4/amaran.min.css")
script(type="application/javascript", src="http://cdn.jsdelivr.net/jquery.amaran/0.5.4/jquery.amaran.min.js")

//\Modules

///Styles(css)
// css/index.min.css 
style(rel="stylesheet", defer, type="text/css", href="http://tenk7.github.io/css/index.min.css")
// AnimateCSS 
link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.1/animate.min.css")
// Smoke
link(rel="stylesheet", type="text/css", href="http://alfredobarron.github.io/smoke/dist/css/smoke.min.css")
//\Styles(css)

///Fonts
// Font Awesome 
link(rel="stylesheet", defer, type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/"+fontawesome_ver+"/css/font-awesome.min.css")
//\Fonts