#mc-container
script(type='text/javascript')
  //- include:uglify-js comments.js
  include comments.js
a#mc-link(href='http://cackle.me')
  | Social comments 
  b(style='color:#4FA3DA') Cackl
  b(style='color:#F65077') e