script(type="application/javascript").
  setTimeout((function() {
    return $("#contact-1,#contact-2").fadeOut();
  }), 0.05 * 1000);

  var contact_toggle = function(num) {
    var el;
    el = $("#contact-" + num);
    if (el.css("display") !== "none") {
      el.fadeOut();
    } else {
      el.fadeIn();
    }
  };

  var contacts_div_toggle = function() {
    var el;
    el = $(".contacts");
    if (el.css("display") !== "none") {
      return el.fadeOut();
    } else {
      return el.fadeIn();
    }
  };
h3: a(onclick="contacts_div_toggle();") Contacts
div.contacts
  h4: a(onclick="contact_toggle(1);", href="#") Tenk
  #contact-1
    h5 Contact Me!
    h5
      a(target="blank", href="http://steamcommunity.com/profiles/76561198059890894/") Steam
      span(style={color:grey})  | 
      a(target="blank", href="mailto:tenkmontro77@gmail.com") Email
  h4: a(onclick="contact_toggle(2);", href="#") Zombie
  #contact-2
    h5 Contact Me!
    h5
      a(target="blank", href="http://steamcommunity.com/profiles/76561198040128877/") Steam
      span(style={color:grey})  | 
      a(target="blank", href="mailto:zombiemontro@gmail.com") Email