script(type='application/javascript').
  setTimeout(function () {$('#contact-1,#contact-2').fadeOut();},1*1000)
  var contact1=function() {
  var el = $('#contact-1');
  if(el.css('display') !== 'none') {
  el.fadeOut();
  } else {
  el.fadeIn();
  }
  };
  var contact2=function() {
  var el = $('#contact-2');
  if(el.css('display') !== 'none') {
  el.fadeOut();
  } else {
  el.fadeIn();
  }
  };
div
  h4
    a(onclick='contact1();', href='#') Tenk
  #contact-1
    h5 Contact Me!
    h5
      a(href='http://steamcommunity.com/profiles/76561198059890894/') Steam
      |  
      a(href='mailto:tenkmontro77@gmail.com') Email
  h4
    a(onclick='contact2();', href='#') Zombie
  #contact-2
    h5 Contact Me!
    h5
      a(href='http://steamcommunity.com/profiles/76561198040128877/') Steam
      |  
      a(href='mailto:zombiemontro@gmail.com\
      ') Email
