script(type="application/javascript").
  var links_toggle = function() {
    var el;
    el = $(".links");
    if (el.css("display") !== "none") {
      return el.fadeOut();
    } else {
      return el.fadeIn();
    }
  };
h3(style={"display":"table-cell"}): a(onclick="links_toggle();") Links
.links
  - var links = [["http://furyn.github.io/", "Wiki"], ["http://dirtybomb.nexon.net/", "Dirty Bomb News"]];
  - for(var i = 0; i < links.length; i++)
    h4: a(target="blank", href="#{links[i][0]}") #{links[i][1]}