#members
  ul.list-unstyled(style="padding:2.5%")
    li
      .member.1(style={"font-family":"Sansita One"})
        a#member-name(href="http://steamcommunity.com/profiles/76561198059890894/")
          h1
            font(color="#ff0000") T
            font(color="#000000") e
            font(color="#ea1033") n
            font(color="#000000") k
    li
      .member.2
        a#member-name(href="http://steamcommunity.com/profiles/76561198040128877/")
          h1
            font(color="#006400") Z
            font(color="#8b0000") o
            font(color="#e5042b") m
            font(color="#6d4848") b
            font(color="#008000") i
            font(color="#ea1033") e
    li
      .member.3
        a#member-name(href="http://steamcommunity.com/profiles/76561198044496655/")
          h1
            font(color="#00008b") S
            font(color="#3a48a9") l
            font(color="#7390c8") y
            font(color="#add8e6")  
            font(color="#c8e5ee") G
            font(color="#e4f2f7") u
            font(color="#ffffff") y
